.logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: contain;
}

.custom-logo-1 {
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 640px;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.accordion {
    width: 100%;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-item input {
    display: none;
}

.accordion-header {
    display: block;
    padding: 15px;
    background: whitesmoke;
    cursor: pointer;
    font-weight: bold;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: white;
}

.accordion-item input:checked ~ .accordion-content {
    max-height: 200px;
    padding: 15px;
}